


@{
    @model List<decoratedArt>;
}



@{
    ViewData["Title"] = "Your Art";
}




@if (Model.Count == 0)
{
    <div class="emptymessage">
        All Of your Art is Owned By Sellers and Collectors.  Submit Some Art To Sell Some More.
    </div>
    <p>
        <a asp-action="Submit">Add Some Art</a>
    </p>
}
else
{

    <p>
        <a asp-action="Submit">Add Some Art</a>
    </p>


    <h2>Sort By   @Html.ActionLink("Current Value", "value", "Artist", Model) |  @Html.ActionLink("Name", "name", "Artist", Model)  |  @Html.ActionLink("Owner", "owner", "Artist", Model)</h2>

    <table class="table">
        <thead>
            <tr>
                <th>

                </th>

                <th>

                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="artdesc">

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>

                        <div class="display-field">
                            <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" alt="@Html.DisplayFor(modelItem => item.Name)" />
                        </div>
                        <div class="display-field">
                            Current Value:
                            $ @Html.DisplayFor(modelItem => item.CurrentValue)
                        </div>
                        @if (item.Owned)
                        {
                            <div class="display-field">
                                Owner:
                                @Html.DisplayFor(modelItem => item.Owner)
                            </div>
                        }

                    </td>
                    <td>
                        @if (TempData["attached"] != null && int.Parse(TempData["attached"].ToString()) == item.Id)
                        {
                            <div class="display-field">
                                You have successfully attached this Art
                            </div>
                        }
                        else
                        {
                            @if (!item.Owned && !item.InBid)
                            {
                                @Html.DisplayFor(modelItem => item.Owner)

                                @using (Html.BeginForm("Attach", "Artist", FormMethod.Post))
                                {

                                    @Html.DropDownList("ListItem")
                                    <input type="hidden" name="ArtId" value="@Html.DisplayFor(modelItem => item.Id)" />
                                    <input type="submit" value="attach this art to seller" />
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}