


@{
    @model List<decoratedArt>;
}
<div class="text-center">
    <h1 class="display-4">Art</h1>
    <p>Here is a list of our art.</p>
</div>



@{
    ViewData["Title"] = "Art";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              
            </th>
          
            <th>
               
            </th>
            <th></th><th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                <div class="display-field">
                    <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" alt="@Html.DisplayFor(modelItem => item.Name)" />
                </div>
                <div class="display-field">
                    Current Value:
                    $ @Html.DisplayFor(modelItem => item.CurrentValue)
                </div>
                @if (item.Owned)
                {
                <div class="display-field">
                    Owner:
                     @Html.DisplayFor(modelItem => item.Owner)
                </div>
                }
              
            </td>
            <td>
                @if (TempData["attached"] != null && int.Parse(TempData["attached"].ToString()) == item.Id) {
                <div class="display-field">
                    You have successfully attached this Art
                    </div>
                    }
                    else {
                    @if (!item.Owned && !item.InBid)
                    {
                        @Html.DisplayFor(modelItem => item.Owner)

                        @using (Html.BeginForm("Attach", "Artist", FormMethod.Post))
                        {

                            @Html.DropDownList("ListItem")
                            <input type="hidden" name="ArtId" value="@Html.DisplayFor(modelItem => item.Id)" />
                            <input type="submit" value="attach this art to seller" />
                        }
                    }
                    }
</td>
        </tr>
        }
        </tbody>
</table>
