

@{
    @model List<decoratedArt>
}
<div class="text-center">
    <h1 class="display-4">Art By @ViewData["ArtistName"]</h1>
</div>



@{
    ViewData["Title"] = "Arts";
}

<h2>Sort By   @Html.ActionLink("Current Value", "value", "Art", new { id = ViewData["ArtistId"] }) |  @Html.ActionLink("Name", "name", "Art", new { id = ViewData["ArtistId"] })  |  @Html.ActionLink("Owner", "owner", "Art", new { id = ViewData["ArtistId"] })</h2>

<div>

    @foreach (var item in Model)
    {

        <span>
            @Html.DisplayFor(modelItem => item.Name)
        </span>
        <span>
            @Html.DisplayFor(modelItem => item.CurrentValue)
        </span>
       @if (item.Owner != "")
       {
        <span>
            Owned By : @Html.DisplayFor(modelItem => item.Owner)
        </span>
       }
        <div>

            <div class="display-field">
                <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" alt="@Html.DisplayFor(modelItem => item.Name)" />
            </div>
        </div>
        @if (Context.Session.GetString("user") == "collector" && item.InBid)
        {
            <div>
                @Html.ActionLink("Bid", "", new { id = item.Id })
            </div>
        }
        @if (Context.Session.GetString("user") == "seller" && item.Owner=="")
        {
            <div>
                @Html.ActionLink("Contact " + @ViewData["ArtistName"] + " about adding This piece to your Inventory", "Contact", new { id = item.Id})
            </div>
        }

    }
</div>
<hr />
