@model List<decoratedArtCollector>
@{
}
<div class="text-center">
    <h1 class="display-4">Art</h1>
    <p>Here is a list of our art.</p>
</div>



@{
    ViewData["Title"] = "Art";
}

<h2>Auctions</h2>


<table class="table">
    <thead>
        <tr>
            <th>

            </th>

            <th>

            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>

                    <div class="display-field">
                        <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" alt="@Html.DisplayFor(modelItem => item.Name)" />
                    </div>
                    <div class="display-field">
                        @if (item.CollectorsBid > 0.00m)
                        {

                            <span>Your High Bid</span>
                            <span>$  @Html.Display(item.CollectorsBid.ToString(), "Html")</span>
                        }

                        <span>Current High Bid</span>

                        $
                        @Html.DisplayFor(modelItem => item.CurrentValue)
                        @if (item.CollectorsBid == item.CurrentValue)
                        {
                            <div>Congratulations, You are the Currently highest bidder</div>
                        }
                        </div>

                    @using (Html.BeginForm("Bid", "Collector", FormMethod.Post))
                    {
                        <input type="hidden" name="ArtName" value="@Html.DisplayFor(modelItem => item.Name)" />
                        <input type="hidden" name="ArtId" value="@Html.DisplayFor(modelItem => item.Id)" />
                        <input type="submit" value="Bid On This Art" />
                    }
      
                        <span>This Auction Closes</span> @Html.DisplayFor(modelItem => item.ClosingDate)



                    </td>
                    <td>
                    </td>
                </tr>
            }
    </tbody>
</table>
