


@{
    @model List<decoratedArt>;
}

@{
    ViewData["Title"] = "Auctions";
}
@if (Model.Count == 0)
{
    <div class="emptymessage">
        You Don't Have Any Auctions! Create an auction from your inventory
    </div>
    <p>
        @Html.ActionLink("Create An Auction", "Gallery", "Seller", Model)
    </p>
}
else
{
    <h2>Your Auctions</h2>





    <table class="table">
        <thead>
            <tr>
                <th>

                </th>

                <th>

                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>

                        <div class="display-field">
                            <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" alt="@Html.DisplayFor(modelItem => item.Name)" />
                        </div>
                        <div class="display-field">
                            @if (item.ClosingDate < DateTime.Now)
                            {
                                <span>This art sold for</span>
                            }
                            else
                            {
                                <span>Current Bid:</span>
                            }
                            $ @Html.DisplayFor(modelItem => item.CurrentValue)
                        </div>
                        @if (item.ClosingDate < DateTime.Now)
                        {
                            <span>This Auction has Closed</span>
                        }
                        else
                        {
                            <span>Your Auction for this Item Closes</span> @Html.DisplayFor(modelItem => item.ClosingDate)
                        }
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}